html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
  font-family: 'Quantico', sans-serif;
  
}

* {
  font-weight: lighter;
}

i {
  display: inline-block;
  color: #D3D3D3;
  font-size: 2.4rem;
  margin: 0 20px;
}



.grid {
  max-width: 100vw;
  grid-gap: 5px;
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: clamp(40px, 8vw, 80px);
  color: #04F1FE;
  margin: 0;
  line-height: 100%;
}

h2 {
  font-size: clamp(30px, 8vw, 70px);
  color: #D8F749;
  margin: 20px 0;
  line-height: 100%;
}

h3 {
  font-size: 1.5rem;
  display: inline;
  color: #D8F749;
  margin-right: 10px;
}

h4 {
  font-size: 2rem;
  display: inline;
  color: #D8F749;
  margin: 0;
}

@media screen and (max-width: 1050px) {
  h4 {
    font-size: 1.6rem;
    display: inline;
    color: #D8F749;
    margin: 0;
  }
}

p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px 0;
  color: #D3D3D3;
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0;
    color: #D3D3D3;
  }
}

a {
  text-decoration: none;
}

li {
  color: #04F1FE;
}



.link-hover-effects {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.link-hover-effects:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #04F1FE;
}

/* Scroll animation classes */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

