
.link-hover-effects {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.link-hover-effects:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #04F1FE;
}

.grid {
  max-width: 100vw;
  grid-gap: 5px;
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: center;
}

.resume-link {
  font-family: 'Quantico', sans-serif;
  font-size: 1.0rem;
  color: #04F1FE;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #04F1FE;
  padding: 10px 18px;
}

.hr-div {
  height: 0;
  width: 80%;
  max-width: 400px;
  border: 1px solid rgb(107, 107, 107);
  display: inline-block;
  margin: 0;
}

/* Header */
.header {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 10px black;
}
/* header needs media queries */

nav {
  display: block;
  max-width: 1200px;
  justify-self: end;
  margin-right: 80px;
}

@media only screen and (max-width: 700px) {
  nav {
    display: none;
  }
}

nav > a {
  display: inline-block;
  color: #D3D3D3;
  margin: 10px;
}


nav > .resume-link {
  margin: 10px;
}

.logo {
  padding: 10px 0;
  max-width: 70px;
  justify-self: start;
  margin-left: 80px;
}

@media only screen and (max-width: 700px) {
  .logo {
    margin-left: 20px;
  }
}
/* Header end */

/* Main */

.main {
  margin: 100px 80px;
  padding: 0;
  max-width: 1080px;
  display: grid;
  /* justify-items: center; */
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .main {
    margin: 100px 20px;
  }
}

/* Main end */

/* Intro section */
.intro-section {
  /* justify-content: start; */
}
.intro-section > p {
  max-width: 600px;
}

/* Intro section end */

/* About section */

.tech-stack-div {
 display: flex;
}

.about-section > p {
  max-width: 600px;
}

/* About section end */